
<h2>Please specify your form fields</h2>
<div class="container">
<form #f ="ngForm">
<div class="form-group">

    <label for="fTypeLabel">Email address</label>
<br>
<input type="text" class="form-control" id="fTypeLabel" aria-describedby="label for the fType" placeholder="Enter field label" name="label" ngModel #label="ngModel">


<select aria-placeholder="please select the form field" class="form-control" id="formField" name="fieldType" ngModel #fieldType="ngModel" >
    <option  [value]="input" *ngFor="let type of fieldTypeab" [value] = "type.value">{{type.value}}</option>
     </select>
    <div *ngIf="fieldType.value==input">
        <select aria-placeholder="please select input type" class="form-control" id="inputType" name="inputType" ngModel #inputType ="ngModel">
            <option  [value]="text" >Text</option>
            <option  [value]="number">Number</option>
            <option  [value]="email">Telephone</option>
            <option  [value]="tel">Telephone</option>
            
            </select>
    </div>
</div>
{{f.value | json}}
</form>

</div>